Repository dzikrisyairozi/turborepo-fullstack-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc.json:

{
  "apps/web/src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --check"],
  "apps/api/src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --check"],
  "apps/docs/app/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --check"],
  "packages/ui/src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --check"],
  "*.{json,css,scss,md,html,yaml,yml}": ["prettier --check"]
}

feat(web): initialize landing page application
  apps/web/.gitignore
  apps/web/README.md
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/public/file.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/hero.tsx
  apps/web/src/components/scene.tsx
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check

feat(web): implement premium loading screen and refine hero section
  apps/dashboard/src/routeTree.gen.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/hero.tsx
  apps/web/src/components/loading-screen.tsx
  apps/web/src/components/scene.tsx
Due: eslint --fix, prettier --check

fix(dashboard): resolve build failures and TanStack router conflicts
  .husky/pre-commit
  apps/dashboard/package.json
  apps/dashboard/src/routeTree.gen.ts
  apps/dashboard/src/routes/_layout.index.tsx
  apps/dashboard/src/routes/_layout.sandbox.tsx
  apps/dashboard/src/routes/index.tsx
  pnpm-lock.yaml
Due: prettier --check

style(web): change hero 3D component color from red to amber to match brand update
  apps/web/src/components/scene.tsx
Due: eslint --fix, prettier --check

feat(api): initialize rust backend with axum, sqlx, and ddd architecture
  .gitignore
  apps/api/.env.example
  apps/api/.gitignore
  apps/api/Cargo.lock
  apps/api/Cargo.toml
  apps/api/migrations/.keep
  apps/api/migrations/20250309_000000_create_users.sql
  apps/api/package.json
  apps/api/rust-toolchain.toml
  apps/api/src/api/handlers/health.rs
  apps/api/src/api/handlers/mod.rs
  apps/api/src/api/handlers/user_handler.rs
  apps/api/src/api/middleware/mod.rs
  apps/api/src/api/mod.rs
  apps/api/src/api/openapi.rs
  apps/api/src/api/responses.rs
  apps/api/src/api/router.rs
  apps/api/src/application/dto/mod.rs
  apps/api/src/application/dto/user_dto.rs
  apps/api/src/application/mod.rs
  apps/api/src/application/services/mod.rs
  apps/api/src/application/services/user_service.rs
  apps/api/src/config/mod.rs
  apps/api/src/domain/entities/mod.rs
  apps/api/src/domain/entities/user.rs
  apps/api/src/domain/errors.rs
  apps/api/src/domain/mod.rs
  apps/api/src/domain/repositories/mod.rs
  apps/api/src/domain/repositories/user_repository.rs
  apps/api/src/infrastructure/database/connection.rs
  apps/api/src/infrastructure/database/mod.rs
  apps/api/src/infrastructure/database/repositories/mod.rs
  apps/api/src/infrastructure/database/repositories/user_repository_impl.rs
  apps/api/src/infrastructure/mod.rs
  apps/api/src/lib.rs
  apps/api/src/main.rs
  apps/dashboard/src/routeTree.gen.ts
Due: prettier --check

feat(api-types): add shared @repo/api-types package for ts-rs bindings
  apps/api/package.json
  apps/api/src/application/dto/user_dto.rs
  apps/api/src/domain/entities/user.rs
  packages/api-types/package.json
  packages/api-types/src/CreateUserRequest.ts
  packages/api-types/src/UpdateUserRequest.ts
  packages/api-types/src/User.ts
  packages/api-types/src/UserResponse.ts
  packages/api-types/src/index.ts
  packages/api-types/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check

feat(docs): initialize fumadocs documentation app
  apps/docs/.gitignore
  apps/docs/content/docs/apps/api.mdx
  apps/docs/content/docs/apps/dashboard.mdx
  apps/docs/content/docs/apps/docs.mdx
  apps/docs/content/docs/apps/meta.json
  apps/docs/content/docs/apps/web.mdx
  apps/docs/content/docs/deployment.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/meta.json
  apps/docs/content/docs/packages/meta.json
  apps/docs/content/docs/packages/tailwind-config.mdx
  apps/docs/content/docs/packages/ui.mdx
  apps/docs/content/docs/project-structure.mdx
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/source.config.ts
  apps/docs/src/app/(home)/layout.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/globals.css
  apps/docs/src/app/layout.tsx
  apps/docs/src/lib/layout.shared.tsx
  apps/docs/src/lib/source.ts
  apps/docs/src/mdx-components.tsx
  apps/docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

style(docs): apply clerk-style TOC and restore MDX layout
  apps/docs/src/app/docs/[[...slug]]/page.tsx
Due: none

docs: synchronize documentation with the new monorepo architecture
  CONTRIBUTING.md
  Dockerfile
  README.md
  apps/api/Cargo.toml
  apps/api/src/main.rs
  apps/docs/content/docs/deployment.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/project-structure.mdx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/lib/layout.shared.tsx
  package.json
Due: prettier --check

feat: add creator attribution and project metadata
  apps/api/Cargo.toml
  apps/api/src/api/openapi.rs
  apps/api/src/main.rs
  apps/dashboard/src/main.tsx
  apps/dashboard/src/routes/_layout.tsx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/src/app/layout.tsx
  apps/docs/src/lib/layout.shared.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/hero.tsx
  package.json
Due: eslint --fix, prettier --check

fix: format
  apps/dashboard/package.json
Due: prettier --check

docs: enhance preview links in README with styled badges
  README.md
Due: prettier --check

fix(ui): resolve recharts typescript errors in chart component
  packages/ui/src/components/ui/chart.tsx
Due: eslint --fix, prettier --check

feat(seo): add rich open graph metadata and dynamic images
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/opengraph-image.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/opengraph-image.tsx
Due: eslint --fix, prettier --check

fix(dx): ignore auto-generated routeTree.gen.ts in prettier
  .prettierignore
Due: none

refactor(web): add documentation link to hero button with new tab support and centered alignment
  apps/web/src/components/hero.tsx
Due: eslint --fix, prettier --check

fix(dashboard): use client-side navigation for sandbox button and add vercel rewrite
  apps/dashboard/src/routes/_layout.index.tsx
  apps/dashboard/vercel.json
  package.json
Due: prettier --check

docs: remove redundant H1 headers
  apps/docs/content/docs/apps/api.mdx
  apps/docs/content/docs/apps/dashboard.mdx
  apps/docs/content/docs/apps/docs.mdx
  apps/docs/content/docs/apps/web.mdx
  apps/docs/content/docs/deployment.mdx
  apps/docs/content/docs/getting-started.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/packages/tailwind-config.mdx
  apps/docs/content/docs/packages/ui.mdx
  apps/docs/content/docs/project-structure.mdx
  apps/docs/src/app/(home)/page.tsx
Due: none

feat(theme): update color palette with proper light mode and dark mode support
  apps/web/src/components/hero.tsx
  packages/tailwind-config/global.css
Due: eslint --fix, prettier --check

docs: add instructions for using github template in readme and docs
  README.md
  apps/docs/content/docs/getting-started.mdx
Due: prettier --check

docs: init CLAUDE.md
  .gitignore
  CLAUDE.md
Due: prettier --check

feat(ui): improve theme switcher animation in docs and dashboard
  apps/dashboard/src/index.css
  apps/dashboard/src/routes/_layout.index.tsx
  apps/dashboard/src/routes/_layout.sandbox.tsx
  apps/dashboard/src/routes/_layout.tsx
  apps/docs/package.json
  apps/docs/src/components/theme-toggle.tsx
  apps/docs/src/lib/layout.shared.tsx
  pnpm-lock.yaml
Due: prettier --check

feat(ui): improve theme switcher animation in docs and dashboard
  apps/dashboard/src/index.css
Due: prettier --check

feat(dashboard): add responsive layout with collapsible mobile sidebar
  apps/dashboard/src/routes/_layout.index.tsx
  apps/dashboard/src/routes/_layout.sandbox.tsx
  apps/dashboard/src/routes/_layout.tsx
  apps/dashboard/src/stores/useAppStore.ts
Due: none

fix(docs): preserve locale in navigation links
  apps/docs/next.config.mjs
  apps/docs/src/app/[lang]/(home)/page.tsx
  apps/docs/src/lib/layout.shared.tsx
Due: none

docs(claude): add production-grade agent workflow directives
  CLAUDE.md
Due: prettier --check

fix(ts): remove deprecated baseUrl option for TypeScript 6.0 compatibility
  apps/dashboard/tsconfig.app.json
  apps/docs/tsconfig.json
Due: prettier --check
